html,
body {
  padding: 0;
  margin: 0;
  font-family: 'roc-grotesk', verdana, sans-serif;
  letter-spacing: 0.5px;
  font-weight: 600;

  background-color: rgb(250, 250, 250);
  color: rgb(16, 16, 16);
  @media (prefers-color-scheme: dark) {
    background-color: rgb(16, 16, 16);
    color: rgb(241, 243, 238);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-family: 'p22-mackinac-pro', 'comic sans ms', serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.4px;
  color: rgba(32, 34, 34, 1);
}

* {
  box-sizing: border-box;
}
